* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slackey-regular {
    font-family: "Slackey", serif;
    font-weight: 400;
    font-style: normal;
}
  
.uncial-antiqua-regular {
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

.chewy-regular {
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
}
  

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.logo {
    height: 30vh;
    width: auto;
    margin-bottom: -4vh;
}

body{
    background-image: url("../media/images/FondoNubes.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

h1{
    font-family: "Uncial Antiqua";
    font-size: 3vw;
}

h2
{
    font-family: "Slackey";
    font-size: 2.5vw;
}

h3
{
    font-family: "Slackey";
    font-size: 1.8vw;
}

p
{
    font-family: "Chewy";
    letter-spacing: 0.06vw;
    font-size: 2.5vw;
}

header {
    text-align: center;
}

header img {
    width: 100%;
    height: auto;
}

header h1 {
    padding-top: 2vh;
    font-size: 3.5vw;
}

main {
    padding: 3rem;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 5vh;
}

#c2a a
{
    color:rgb(210, 10, 10);
    text-decoration: none;
    margin-bottom: -5vw;
}

#c2a h1
{
    font-family: "Slackey";
    background-image: url("../media/images/BtonAjustes.png");
    filter: brightness(100%);
    padding: 3vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.6vw;
}

#c2a h1:hover
{
    font-family: "Slackey";
    background-image: url("../media/images/BtonAjustes.png");
    filter: brightness(80%);
    padding: 3vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------------------------------------------
Index */

#presentation img {
    height: 25vh;
    width: 40vw;
    object-fit: cover;
}

/* ------------------------------------------------------
Menu */

#buttons {
    flex-direction: column;
    text-align: center;
}

#buttons a {
    padding: 1vh;
    color:rgb(210, 10, 10);
    text-decoration: none;
}

#buttons h2
{
    padding: 2vw;
    background-image: url("../media/images/BtonAjustes.png");
    filter: brightness(100%);
    padding: 8vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#buttons h2:hover
{
    background-image: url("../media/images/BtonAjustes.png");
    filter: brightness(80%);
    padding: 7vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#buttonPlay {
    padding: 2vw;
    position: center;
    filter: brightness(100%);
}

#buttonPlay :hover {
    padding: 3vw;
    position: center;
    filter: brightness(80%);
}

/* ------------------------------------------------------
Character */

#selector .half {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    width: 50%;
    height: auto;
}

.half h2{
    padding-bottom: 3vh;
}

.half h3{
    padding-bottom: 2vh;
}

.row {
    display: flex;
}

.column {
    height: 10vw;
    width: 10vw;
}

.column img {
    object-fit: cover;
    filter:brightness(100%);
}

.column img:hover {
    filter:brightness(80%);
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -4.5vw;
}

#info img {
    object-fit: cover;
    width: 50%;
    height: auto;
    padding-right: 3vw;
}

#info p
{
    font-size: 1.8vw;
}

#stats
{
    font-size: 1.5vw;
    margin-top: -2vw;
    width: 40vw;
}

.bar {
    width: 100%;
    height: 10px;
    background: #00000062;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.fill {
    height: 100%;
    width: 50%; 
    background: rgb(210, 10, 10);;
    transition: width 0.5s ease-in-out;
}

/* ------------------------------------------------------
Mapa */

#preview {
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

#preview div {
    height: 100%;
    width: 100%;
    position: relative;
}

#preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div #descripcion_mapa {
    position: absolute;
    max-width: 40%;
    max-height: 35%;
    bottom: 2%; 
    right: 2%;
}

#descripcion_mapa .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    background-color: #3ab7ff8f;
    font-size: 1.25vh;
    text-align: justify;
}

/* ------------------------------------------------------
HUD */

#hud {
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
    padding-bottom: 12vh;
}

#hud img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hud h2 {
    padding: 1vh;
}

/* ------------------------------------------------------
MEDIA QUERIES */

@media only screen and (min-width: 1080px) {

header .remove {
    display: none;
}

h2
{
    font-size: 2vw;
}

h3
{
    font-size: 1.3vw;
}

p
{
    font-size: 1.3vw;
}


    /* ------------------------------------------------------
Character */

#selector .half {
    align-items: flex-start;
    height: 29vw;
    margin-top: -3vh;
}

#info {
    margin-top: -4vw;
    justify-content: left;
}

.half h2 {
    align-self: center;
}

#gallery
{
    align-self: center;
}

.column {
    height: 6vw;
    width: 6vw;
}

#info img {
    width: 35%;
}

#info p
{
    font-size: 1vw;
    padding-right: 5vw;
}

#stats
{
    margin-top: -6vh;
    font-size: 1vw;
    width: 20vw;
}

}

@media only screen and (max-width: 504px) {
   
 /* ------------------------------------------------------
Character */

#gallery
{
    align-self: center;
}

.column {
    height: 6vh;
    width: 6vh;
}

#info img {
    width: 70%;
}

#stats
{
    width: 15vh;
}

.bar {
    height: 5px;
}

#c2a a
{
    margin-bottom: 0;
}

#c2a h1
{
    padding: 3vh;
    font-size: 1.6vh;
}

#c2a h1:hover
{
    padding: 3vh;
    font-size: 1.6vh;
}

}